@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/reey');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:  "Open Sans";
}
#loading{
    background-color: white;
    width: 100%;
    height: 100vh;
    background-image: url(../logos/preLoader.gif);
    background-size: 15%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 10000;
}
.topSection{
    background-color: black;
    background-image: url("../image/Texture.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: end;
}
.navbar ul{
    display: flex;
    list-style: none;
    font-family: "Open Sans";
    font-weight: bold;
    padding-top: 25px;
}
.navbar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: calc(5px + 1vw);
}
.navbar a:hover{
    color: #ff6363;
    transition: all 0.5s;
}
.searchBox {
    display: flex;
    margin: calc(5px + 0.5vw);
}
.searchBox input {
    border: none;
    outline: none;
    padding: 8px 18px;
    border-radius: 50px 0px 0px 50px;
}
.searchIcon{
    background: white;
}
.searchIcon {
    background: white;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
}
/* leftChild section  */
:root{
    --margin:15%;
}
.parent{
    display: flex;
    height: 85vh;
    position: relative;
}
.leafImg {
    position: absolute;
    right: 0px;
    bottom: -34px;
    z-index: 10;
    width: calc(100px + 24vw);
}
.leftChild{
    width: 100%;
}
.leftChild img {
    width: calc(10px + 8.5vw);
    margin-left: var(--margin);
    margin-top: 5%;
}
.leftChild h1 {
    color: white;
    font-family: reey;
    font-size: calc(3px + 5vw);
    padding: 7%;
    margin-left: 8%;
}
.leftChild h4 {
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    margin-left: var(--margin);
}
.btn {
    font-family: 'Open Sans';
    font-weight: 800;
    color: #2e3034;
}
.btnMargin{
    margin-left: var(--margin);  
}
.btnWhite{
    width: calc(30px + 13vw);
    border-radius: 50px;
    font-size: calc(7px + 0.5vw);
}
.leftChild p{
    color: white;
    margin-left: var(--margin);
    padding-top: 3%;;
}

/* rightChild section  */
.rightChild{
    width: 100%;
    position: relative;
}
.rightChild .noodlesImg {
    width: calc(30px + 23vw);
    margin-left: 30%;
    margin-top: calc(30px + 3vh);
}
.foodImg {
    width: calc(20px + 9vw);
    position: absolute;
    top: calc(14% + 18vw);
    left: 22%;
}
/* show food section   */
.showFood{
    padding-top: 3%;
    background: white;
    padding-bottom: 50px;
}
.showFoodHead{
    text-align: center;
}
.showFoodHead h1 {
    font-family: reey;
    padding: 20px;
}
.ItemParent {
    display: flex;
    justify-content: center;
    padding: 45px;
}
.foodItem {
    text-align: center;
}
.foodItem img {
    width: calc(94px + 26vh);
    padding: 10px;
    filter: drop-shadow(0px 10px 8px #333333);
}
.foodBtn {
    width: 18%;
    border-radius: 50px;
    color: white;
}

/* informetion section start  */
.info {
    background-color: #27292b;
    color: white;
    padding: 7%;
    text-align: center;
    line-height: 30px;
}
.infoPrante{
    display: flex;
    justify-content: center;
}
.infoHead h1{
    font-family: reey;
}
.infoChild {
    padding: 5%;
}

/* discout section  */
.discout {
    background-color: white;
    padding: 4% 8%;
}
.discoutItem{
    display: flex;
    padding-bottom: 20px;
}
.dsk_fd_img {
    width: 100%;
}
.dsk_fd_img img {
    width: calc(50px + 38vw);
    padding-right: 10%;
    filter: drop-shadow(0px 25px 20px #333333);
}
.dis_fd_dtls {
    padding: 85px 0px;
}
.dis_fd_dtls h2 {
    font-size: calc(18px + 3vw);
    font-weight: bold;
}
.dis_fd_dtls p {
    font-weight: bold;
    padding-right: 32%;
    line-height: 38px;
}

/* advertisement section  */
.advertisement{
    background: url(../image/Texture.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: black;
    position: relative;
}
.dubble_leaf {
    width: 97%;
    position: absolute;
    top: -17%;
}
.addHead {
    text-align: center;
    color: white;
    padding: 30px;
    position: relative;
}
.advertisement h1 {
    font-family: 'reey';
    padding-top: 5%;
}
.advertisement p {
    padding: 4% 25%;
    position: relative;
    z-index: 20;
}
.addHead::after{
    position: absolute;
    content: ' ';
    height: 4px;
    width: 8%;
    background-color: white;
    margin: -3% -3%;
    border-radius: 10px;
}
#advrImg{
    position: relative;
}
img.pizza {
    width: calc(200px + 13vw);
    position: absolute;
    top: calc(-33px + -3.5vw);
    left: 48%;
    filter: drop-shadow(2px 10px 10px #333333);
}
/* advertisement details  */
.advrDtls {
    background-color: white;
    padding: 6% 6%;
}
.advrDtlsContiner{
    display: flex;
    justify-content: center;
    text-align: center;
}
.advrDtlsBox{
    padding: 3%;
}
.advrDtlsBox h1 {
    font-family: reey;
    padding: 10%;
}
.advrFoter {
    text-align: center;
    padding: 5% 28%;
}
/* subscribe section  */
.subscribe {
    background-color: #27292c;
    padding: 10% 30%;
    color: white;
    text-align: center;
    position: relative;
}
.subscribe h1{
    font-weight: 700;
}
.subInput {
    padding: 5% 0%;
    z-index: 10;
    position: relative;
}
.subInput input[type="text"] {
    width: calc(167px + 10vw);
    padding: 8px 17px;
    border-radius: 50px;
    border: none;
}
button.subBtn {
    padding: 11px;
    background: #54514e;
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: -8%;
    width: calc(35px + 7vw);
    font-weight: bold;
    font-size: calc(6px + 0.5vw);
}
img.sub_leaf {
    position: absolute;
    width: 70%;
    left: calc(20px + 12vw);
    top: -60px;
}
/* footer section  */
.footer {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 7% 6%;
    font-size: calc(6px + 1vw);
}
.footerLeft {
    padding-right: 15%;
}
.footer h2 {
    font-size: calc(11px + 1vw);
}
.footerRight {
    padding-right: 10%;
}
.socalBox{
    display: flex;
}
.socalMidea {
    background: black;
    color: white;
    margin: 2%;
    width: calc(10px + 2vw);
    height: calc(10px + 2vw);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    filter: drop-shadow(0px 4px 7px #333333);
}



/* make responsive  */
@media screen and (max-width:700px){
.navbar{
    justify-content: center;
}
.leafImg {
    bottom: -6px;
}
.parent {
    display: block;
}
.rightChild .noodlesImg {
    width: calc(30px + 59vw);
    margin-left: 25%;
}
.foodImg {
    width: calc(20px + 22vw);
    top: calc(14% + 49vw);
    left: 13%;
}
.ItemParent,.infoPrante{
    display: block;
}
 .noodlesImg {
    margin-left: 0;
}
.discoutItem {
    display: block;
    margin: auto;
}
.dsk_fd_img {
    text-align: center;
}
.dsk_fd_img img {
    width: calc(50px + 38vw);
    padding: 0;
}
.dis_fd_dtls {
    padding: 11% 0 0 0;
}
.dubble_leaf {
    top: -32px;
}
.advertisement h1 {
    font-size: 16px;
}
img.pizza {
    width: calc(108px + 46vw);
    left: 13%;
    top: calc(20px + 0.5vw);
}
button.subBtn {
    margin-left: 45%;
    margin-top: -41px;
    position: absolute;
    width: calc(35px + 9vw);
    padding: 15px;
}
.advrDtlsContiner {
    display: block;
}
.advrDtlsBox h1 {
    padding: 4%;
}
.advrFoter {
    padding: 0;
}
img.sub_leaf {
    top: -18px;
}
}